<div class="p-fluid">
    <h2 class="form-title" style="visibility: hidden; margin-bottom: 2px; display: block;">    Formulario de Solicitud de Vacaciones    </h2>
    <br>
    <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
        <p>Detalles de la licencia</p>
        <div class="p-field" style="display: flex; flex-direction: column;">
            <br>
            <label for="start" style="margin-bottom: 8px;">Fecha de inicio</label>
            <span class="p-input-icon-left">
                <i class="pi pi-calendar"></i>
                <p-calendar id="start" placeholder="DD/MM/YYYY" formControlName="start"></p-calendar>
            </span>
            <div *ngIf="userForm.controls['start'].invalid && 
            userForm.controls['start'].touched" class="error">
                Fecha de inicio requerida
            </div>
        </div>

        <div class="p-field" style="display: flex; flex-direction: column;">
            <br>
            <label for="end" style="margin-bottom: 8px;">Fecha de finalización</label>
            <span class="p-input-icon-left">
                <i class="pi pi-calendar"></i>
                <p-calendar id="end" placeholder="DD/MM/YYYY" formControlName="end"></p-calendar>
            </span>
            <div *ngIf="userForm.controls['end'].invalid && 
            userForm.controls['end'].touched" class="error">
                Fecha de finalización requerida
            </div>
        </div>
            
        <div class="p-field" style="display: flex; flex-direction: column;">
            <br>
            <label for="note" style="margin-bottom: 8px; display: block;">Notas</label>
            <div style="position: relative; width: 100%;">
                <i class="pi pi-align-left" style="position: absolute; left: 10px; top: 10px; color: #999;"></i>
                <textarea id="note" pInputText formControlName="note" 
                          style="width: 100%; min-height: 100px; padding-left: 30px; box-sizing: border-box;" 
                          rows="5"></textarea>
            </div>
            <div *ngIf="userForm.controls['note'].invalid && userForm.controls['note'].touched" class="error">
                Mucho texto
            </div>
        </div>
        <br>
        <div style="display: flex; justify-content: center;">
            <button pButton type="submit" label="Registrate" 
                    [disabled]="userForm.invalid" 
                    style="width: auto; padding: 0.7em 1.5em; max-width: 150px; height: 45px; text-align: center;">
            </button>
        </div>
    </form>
</div>
