USE [Biblioteca]
GO
/****** Object:  Table [dbo].[Libros]    Script Date: 6/12/2024 11:14:45 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Libros](
	[isbn] [nvarchar](8) NOT NULL,
	[titulo] [nvarchar](100) NULL,
	[autor] [nvarchar](100) NULL,
	[editorial] [nvarchar](100) NULL,
	[genero] [nvarchar](50) NULL,
	[cantidad] [int] NULL,
	[año_publicacion] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[isbn] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Libros] ([isbn], [titulo], [autor], [editorial], [genero], [cantidad], [año_publicacion]) VALUES (N'122000', N'Orgullo y Prejuicio', N'Jane Austen', N'Alma', N'Novela', 5, CAST(N'1813-01-28' AS Date))
INSERT [dbo].[Libros] ([isbn], [titulo], [autor], [editorial], [genero], [cantidad], [año_publicacion]) VALUES (N'879000', N'Cien Años de Soledad', N'Gabriel Garcia Marquez', N'Sudamericana', N'Novela', 1, CAST(N'1967-05-01' AS Date))
INSERT [dbo].[Libros] ([isbn], [titulo], [autor], [editorial], [genero], [cantidad], [año_publicacion]) VALUES (N'960001', N'1984', N'George Orwell', N'Penguin', N'Ciencia Ficcion', 2, CAST(N'1949-06-08' AS Date))
GO
ALTER TABLE [dbo].[Libros] ADD  DEFAULT ((1)) FOR [cantidad]
GO
