USE [integracion_backend]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 17/11/2024 10:35:05 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](30) NULL,
	[apellido] [nvarchar](30) NULL,
	[correo] [nvarchar](50) NULL,
	[telefono] [varchar](10) NULL,
	[gerente] [nvarchar](30) NULL,
	[correo_gerente] [nvarchar](50) NULL,
	[fecha_inicio] [date] NULL,
	[fecha_fin] [date] NULL,
	[notas] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([id], [nombre], [apellido], [correo], [telefono], [gerente], [correo_gerente], [fecha_inicio], [fecha_fin], [notas]) VALUES (1, N'Juan', N'Burbano', N'jusebume@gmail.com', N'3134567676', N'Adam', N'adam@gmail.com', CAST(N'2024-09-16' AS Date), CAST(N'2024-11-16' AS Date), N'hola')
INSERT [dbo].[Users] ([id], [nombre], [apellido], [correo], [telefono], [gerente], [correo_gerente], [fecha_inicio], [fecha_fin], [notas]) VALUES (2, N'Sebastian', N'Mesias', N'jsebastib@gmail.com', N'3143599898', N'Adam', N'adam@gmail.com', CAST(N'2024-10-17' AS Date), CAST(N'2024-11-17' AS Date), N'claro')
INSERT [dbo].[Users] ([id], [nombre], [apellido], [correo], [telefono], [gerente], [correo_gerente], [fecha_inicio], [fecha_fin], [notas]) VALUES (6, N'Pablo', N'Muñoz', N'pablo@gmail.com', N'3145684115', N'Adam', N'adam@gmail.com', CAST(N'2024-11-06' AS Date), CAST(N'2024-11-17' AS Date), N'')
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__2A586E0B30E6A446]    Script Date: 17/11/2024 10:35:06 p. m. ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[correo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
