USE [Biblioteca]
GO
/****** Object:  Table [dbo].[Libros]    Script Date: 7/12/2024 8:29:40 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Libros](
	[isbn] [nvarchar](8) NOT NULL,
	[titulo] [nvarchar](100) NULL,
	[autor] [nvarchar](100) NULL,
	[editorial] [nvarchar](100) NULL,
	[genero] [nvarchar](50) NULL,
	[cantidad] [int] NULL,
	[año_publicacion] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[isbn] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Libros] ([isbn], [titulo], [autor], [editorial], [genero], [cantidad], [año_publicacion]) VALUES (N'122000', N'El Resplandor', N'Stephen King', N'Doubleday', N'Novela', 0, CAST(N'1977-01-28' AS Date))
INSERT [dbo].[Libros] ([isbn], [titulo], [autor], [editorial], [genero], [cantidad], [año_publicacion]) VALUES (N'122001', N'Rabia', N'Richard Bachman', N'Orbis', N'Novela', 0, CAST(N'1977-09-13' AS Date))
INSERT [dbo].[Libros] ([isbn], [titulo], [autor], [editorial], [genero], [cantidad], [año_publicacion]) VALUES (N'156000', N'La Isla del Tesoro', N'Robert Louis Stevenson', N'Fontana', N'Aventura', 8, CAST(N'1813-11-14' AS Date))
GO
ALTER TABLE [dbo].[Libros] ADD  DEFAULT ((1)) FOR [cantidad]
GO
