<!-- Título H2 -->
<h2>Titulo</h2>

<!-- Párrafos -->
<p>Bienvenido a mi proyecto</p>
<p class="secondary">Estos links seguro te ayudarán:</p>

<!-- Lista con enlaces -->
<ul>
  <li><a href="https://www.google.com" target="_blank">Google</a></li>
  <li><a href="https://www.angular.io" target="_blank">Angular</a></li>
  <li><a href="https://www.github.com" target="_blank">GitHub</a></li>
</ul>

<!-- Tabla -->
<table border="1">
  <tr>
    <th>Productos</th>
    <th>Existencias</th>
    <th>Valor</th>
  </tr>
  <tr>
    <td>Iphone</td>
    <td>10</td>
    <td>$2.000.000</td>
  </tr>
  <tr>
    <td>Mouse</td>
    <td>100</td>
    <td>$50.000</td>
  </tr>
  <tr>
    <td>PC Gamer</td>
    <td>2</td>
    <td>$3.000.000</td>
  </tr>
</table>
<br>
<div class="contenedor">
  <div class="header">
    <div class="logo">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" id="anchor">
        <path fill="#000000" d="M19,13H17a1,1,0,0,0,0,2h.91A6,6,0,0,1,13,19.91V11h1a1,1,0,0,0,0-2H13V7.82a3,3,0,1,0-2,0V9H10a1,1,0,0,0,0,2h1v8.91A6,6,0,0,1,6.09,15H7a1,1,0,0,0,0-2H5a1,1,0,0,0-1,1,8,8,0,0,0,16,0A1,1,0,0,0,19,13ZM12,6a1,1,0,1,1,1-1A1,1,0,0,1,12,6Z"></path>
      </svg>
    </div>
    <div class="header-text">
      <p>Header</p>
    </div>
    <div class="buscador">
      <input type="text" placeholder="¿Que estas buscando?">
      <button>Buscar</button>
    </div>
  </div>
  <div class="contenido">
    <p>Contenido</p>
  </div>
  <div class="slide-bar">
    <p>Slide-Bar</p>
  </div>
  <div class="footer">
    <div class="footer-1">Footer-1</div>
    <div class="footer-2">Footer-2</div>
    <div class="footer-3">Footer-3</div>
    <p>Footer</p>
  </div>
</div>

