<div class="menu-container" >
  <h2>Registro de Libros</h2>
  <br>
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <div class="p-field">
      <label for="isbn" style="margin-bottom: 8px; display: block;">ISBN</label>
      <span class="p">
        <input id="isbn" type="text" pInputText formControlName="isbn" placeholder="Ingrese el ISBN" />
      </span>
      <div *ngIf="registerForm.controls['isbn'].invalid && registerForm.controls['isbn'].touched" class="error">
        ISBN es requerido
      </div>
    </div>

    <div class="p-field">
      <br>
      <label for="title" style="margin-bottom: 8px; display: block;">Título</label>
      <span class="p">
        <input id="title" type="text" pInputText formControlName="title" placeholder="Ingrese el título" />
      </span>
      <div *ngIf="registerForm.controls['title'].invalid && registerForm.controls['title'].touched" class="error">
        Título es requerido
      </div>
    </div>

    <div class="p-field">
      <br>
      <label for="author" style="margin-bottom: 8px; display: block;">Autor</label>
      <span class="p">
        <input id="author" type="text" pInputText formControlName="author" placeholder="Ingrese el autor" />
      </span>
      <div *ngIf="registerForm.controls['author'].invalid && registerForm.controls['author'].touched" class="error">
        Autor es requerido
      </div>
    </div>

    <div class="p-field">
      <br>
      <label for="editorial" style="margin-bottom: 8px; display: block;">Editorial</label>
      <span class="p">
        <input id="editorial" type="text" pInputText formControlName="editorial" placeholder="Ingrese la editorial" />
      </span>
      <div *ngIf="registerForm.controls['editorial'].invalid && registerForm.controls['editorial'].touched" class="error">
        Editorial es requerida
      </div>
    </div>

    <div class="p-field">
      <br>
      <label for="genre" style="margin-bottom: 8px; display: block;">Género</label>
      <span class="p">
        <input id="genre" type="text" pInputText formControlName="genre" placeholder="Ingrese el género" />
      </span>
      <div *ngIf="registerForm.controls['genre'].invalid && registerForm.controls['genre'].touched" class="error">
        Género es requerido
      </div>
    </div>

    <div class="p-field">
      <br>
      <label for="quantity" style="margin-bottom: 8px; display: block;">Cantidad</label>
      <span class="p">
        <input id="quantity" type="number" pInputText formControlName="quantity" placeholder="Ingrese la cantidad" />
      </span>
      <div *ngIf="registerForm.controls['quantity'].invalid && registerForm.controls['quantity'].touched" class="error">
        La cantidad debe ser mayor a 0
      </div>
    </div>

    <div class="p-field" style="display: flex; flex-direction: column;">
      <br>
      <label for="year" style="margin-bottom: 8px;">Fecha de publicación</label>
      <span class="p">
        <input id="year" type="text" pInputText formControlName="year" placeholder="YYYY-MMM-DD" />
      </span>
      <div *ngIf="registerForm.controls['year'].invalid && registerForm.controls['year'].touched" class="error">
        Fecha de publicación es requerida
      </div>
    </div>
    <!-- p-calendar no funcionó -->

    <div style="display: flex; justify-content: center;">
      <button pButton type="submit" label="Registrar" 
              [disabled]="registerForm.invalid" 
              style="width: auto">
      </button>
    </div>
  </form>
</div>
