<div class="p-fluid">
    <h2 class="form-title" style="visibility: hidden; margin-bottom: 2px; display: block;">    Formulario de Solicitud de Vacaciones    </h2>
    <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
        <div class="p-field">
            <label for="nameg" style="margin-bottom: 8px; display: block;">El nombre del gerente</label>
            <span class="p-input-icon-left">
                <i class="pi pi-user"></i>
                <input id="nameg" type=text pInputText formControlName="nameg" />
            </span>
            <div *ngIf="userForm.controls['nameg'].invalid && 
            userForm.controls['nameg'].touched" class="error">
                El nombre del gerente es requerido
            </div>
        </div>
        <br>
        <br>
        <div class="p-field">
            <label for="emaill" style="margin-bottom: 8px; display: block;">Correo electrónico del gerente</label>
            <span class="p-input-icon-left">
                <i class="pi pi-envelope"></i>
                <input id="emaill" type="text" pInputText formControlName="emaill"/>
            </span>
            <div *ngIf="userForm.controls['emaill'].invalid && 
            userForm.controls['emaill'].touched" class="error">
                Email Requerido
            </div>
        </div> 
    </form>
</div>
