<div class="p-fluid">
    <br>
    <h2 class="form-title">    Formulario de Solicitud de Vacaciones    </h2>
    <br>
    <br>
    <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
        <div class="p-field" style="display:flex;">
            <div class="flex-col" style="flex: 1; margin-right: 6px;">
                <label for="name">Nombre</label>
                <input id="name" type="text" pInputText formControlName="name"
                placeholder="Primer Nombre" style="margin-top: 8px; display: block;"/>
                <div *ngIf="userForm.controls['name'].invalid && 
                userForm.controls['name'].touched" class="error">
                    El nombre es requerido
                </div>
            </div>
            <div class="flex-col" style="flex: 1;">
                <label for="lastname" style="visibility: hidden;">Apellido</label>
                <input id="lastname" type="text" pInputText formControlName="lastname"
                placeholder="Apellido" style="margin-top: 8px; display: block;"/>
                <div *ngIf="userForm.controls['lastname'].invalid && 
                userForm.controls['lastname'].touched" class="error">
                    Apellido es requerido
                </div>
            </div>
        </div>
        <br>
        <br>
        <div class="p-field">
            <label for="email" style="margin-bottom: 8px; display: block;">Correo electrónico</label>
            <span class="p-input-icon-left">
                <i class="pi pi-envelope"></i>
                <input id="email" type="text" pInputText formControlName="email"/>
            </span>
            <div *ngIf="userForm.controls['email'].invalid && 
            userForm.controls['email'].touched" class="error">
                Email Requerido
            </div>
        </div> 
        <br>
        <br>
        <div class="p-field">
            <label for="tel" style="margin-bottom: 8px; display: block;">Teléfono</label>
            <span class="p-input-icon-left">
                <i class="pi pi-phone"></i>
                <input id="tel" type=text pInputText formControlName="tel" />
            </span>
            
            <div *ngIf="userForm.controls['tel'].invalid && 
            userForm.controls['tel'].touched" class="error">
                El teléfono debe tener 10 dígitos
            </div>
        </div>
    </form>
</div>
